In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('../data/labeled-data.csv')
df.head()

   label                                            comment
0    2.0                     ai đó gì viu dhhp cho em vớiii
1    0.0  tính cả mình thì khóa mình có người trong bộ t...
2    6.0  ê em là không lo xa đang tìm trường đhoc em xe...
3    6.0                     anh làm p cho không được không
4    1.0                                    ftu giỏi lắm đó

In [45]:
# # Remove all rows, just keep label and comment row
# df = df[['label', 'comment']]
# Remove diplicate comment
df = df.drop_duplicates(subset=['comment'])

In [46]:
# Check the data by label
print(df.groupby('label').size())

label
0.0    1261
1.0    1452
2.0    1010
3.0    1030
4.0     530
5.0     502
6.0     501
7.0     600
dtype: int64

In [47]:
# Export to csv
df.to_csv('../data/labeled-data.csv', index=False)