In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/labeled-data.csv')

In [4]:
df.head()

   label                                            comment
0    2.0                     ai đó gì viu dhhp cho em vớiii
1    0.0  tính cả mình thì khóa mình có người trong bộ t...
2    6.0  ê em là không lo xa đang tìm trường đhoc em xe...
3    6.0                     anh làm p cho không được không
4    1.0                                    ftu giỏi lắm đó

In [5]:
# Number of rows by label
print(df['label'].value_counts())

label
1.0    1452
0.0    1261
3.0    1030
2.0    1010
7.0     600
4.0     529
5.0     502
6.0     501
Name: count, dtype: int64

In [6]:
train = [900, 900, 900, 900, 400, 400, 400, 400]
test = [100, 100, 100, 100, 100, 100, 100, 100]

In [9]:
# For each label, create a train and test set based on the counts above
def split_data(df, train_counts, test_counts):
    train_dfs = []
    test_dfs = []

    for label in df['label'].unique():
        label_df = df[df['label'] == label]
        train_size = train_counts[int(label)]
        test_size = test_counts[int(label)]

        train_df = label_df.sample(n=train_size, random_state=42)
        test_df = label_df.drop(train_df.index).sample(n=test_size, random_state=42)

        train_dfs.append(train_df)
        test_dfs.append(test_df)

    return pd.concat(train_dfs), pd.concat(test_dfs)

train_df, test_df = split_data(df, train, test)

In [11]:
# Check number of rows in train and test sets by label
print(train_df['label'].value_counts())
print(test_df['label'].value_counts())

label
2.0    900
0.0    900
1.0    900
3.0    900
6.0    400
4.0    400
7.0    400
5.0    400
Name: count, dtype: int64
label
2.0    100
0.0    100
6.0    100
1.0    100
4.0    100
3.0    100
7.0    100
5.0    100
Name: count, dtype: int64

In [12]:
# Save the train and test sets
train_df.to_csv('../data/naive-bayes-dataset/train.csv', index=False)
test_df.to_csv('../data/naive-bayes-dataset/test.csv', index=False)

#